/* Settings */
* {
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

/* Components */

.glass {
  background: rgba(255, 255, 255, 0.32);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.header-ex {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 0 40px;
  background: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 1;
}

.header-ex img {
  width: 60px;
}

.header-ex__logo {
  display: flex;
  align-items: center;
}

.header-ex nav ul {
  display: flex;
  gap: 0 20px;
  list-style: none;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  height: 100vh;
  background: url("../images/background.png");

  color: #fff;
}

.button {
  text-transform: uppercase;
  padding: 10px 16px;
  border-radius: 50px;
  border: none;
  font-weight: 200;
  font-size: 12px;

  cursor: pointer;
}

.button:hover {
  background-color: #d4d4d4;
}

/* Navigation */
.navigation {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: scale(1) translateX(-50%);
  z-index: 1;
}

.navigation:hover {
  transform: scale(1.05) translateX(-50%);
}

.navigation__list {
  margin: 0;
  padding: 20px 0;

  width: fit-content;

  list-style: none;
}

.navigation__list-item {
  display: inline;
  padding: 20px;
}

.navigation__list-item a {
  color: #fff;

  text-decoration: none;
}

/* Header */
.header-info {
  text-align: center;
}

.header-info__title {
  font-weight: 200;
  font-size: 48px;
}

.header-info__description {
  font-weight: 200;
}

.header-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.header-bottom .button {
  width: fit-content;
}

/* Section */
.section {
  padding: 60px 0;
  background: #070918;
  color: #fff;
  width: 100%;
}

.section__title {
  position: relative;
  margin: 0 auto;
  margin-bottom: 32px;
  width: fit-content;

  font-size: 28px;
  font-weight: 200;
  text-align: center;
}

.section__title::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -32px;
  width: 12px;
  height: 1px;
  background: #fff;
}

.section__title::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -32px;
  width: 12px;
  height: 1px;
  background: #fff;
}

.section__content {
  display: flex;
  gap: 32px;
}

/* About */
.about__image {
/* max-width: 50%; */
}

.about__card {
  padding: 16px;
  flex-grow: 1;
}

/* Ex */
.section__grid {
  display: grid;
  gap: 16px;
  grid-template-columns: 2fr 1fr ;
  grid-template-rows: 2fr 2fr 1fr;
}

.section__grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  color: white;
  border: 1px green solid;
}

.section__grid-item:first-child {
  grid-column: 1 / 3;
}