@import "./mixin.scss";
@import "./variable.scss";

/* Settings */
* {
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

/* Components */
.glass {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.card {
  padding: 25px;

  &__title {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: $font-color;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 24px;

    &-item {
      display: flex;
      padding: 7px 12px;
      color: $font-color;

      &-icon {
        margin-right: 24px;
      }

      &_percent {
        justify-content: space-between;
      }

      &-percent {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $dark-background;
        border-radius: 16px;
        z-index: -1;

        &_100 {
          width: 100%;
        }

        &_90 {
          width: 90%;
        }

        &_60 {
          width: 60%;
        }
      }
    }
  }
}

// Header example
.header-ex {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 0 40px;
  background: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 1;

  img {
    width: 60px;
  }

  &__logo {
    display: flex;
    align-items: center;
  }

  nav {
    ul {
      display: flex;
      gap: 0 20px;
      list-style: none;
    }
  }
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  height: 100vh;
  background: url("../assets/images/background.png");

  color: $font-color;
}

.button {
  text-transform: uppercase;
  padding: 10px 16px;
  border-radius: 50px;
  border: none;
  font-weight: 200;
  font-size: 12px;
  color: $button-font-color;
  background-color: $font-color;

  cursor: pointer;

  &:hover {
    background-color: #d4d4d4;
  }

  &_dark {
    background-color: #000;
    color: #d4d4d4;

    &:hover {
      color: #000;
    }
  }
}

/* Navigation */
.navigation {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: scale(1) translateX(-50%);
  z-index: 1;
}

.navigation:hover {
  transform: scale(1.05) translateX(-50%);
}

.navigation__list {
  margin: 0;
  padding: 20px 0;

  width: fit-content;

  list-style: none;
}

.navigation__list-item {
  display: inline;
  padding: 20px;
}

.navigation__list-item a {
  color: $font-color;

  text-decoration: none;
}

/* Header */
.header-info {
  text-align: center;
}

.header-info__title {
  font-weight: 200;
  font-size: 48px;
}

.header-info__description {
  font-weight: 200;
}

.header-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);

  &__title {
    text-align: center;
  }
}

.header-bottom .button {
  width: fit-content;
}

/* Section */
.section {
  padding: 60px 0;
  background: $background;
  color: $font-color;
  width: 100%;
}

.section__title {
  position: relative;
  margin: 0 auto;
  margin-bottom: 32px;
  width: fit-content;

  font-size: 28px;
  font-weight: 200;
  text-align: center;
}

.section__title::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -32px;
  width: 12px;
  height: 1px;
  background: $font-color;
}

.section__title::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -32px;
  width: 12px;
  height: 1px;
  background: $font-color;
}

.section__content {
  margin: 0 auto;
  max-width: 1240px;
  display: flex;
  gap: 32px;
}

/* About */
.about__image {
  /* max-width: 50%; */
}

.about__card {
  padding: 16px;
  flex-grow: 1;
}

/* Skills */
.skills .card {
  width: 50%;
}

// Form
.contact-form {
  padding: 16px;
  max-width: 620px;
  margin: 0 auto;

  &__button {
    width: 100%;
  }
}

// Modal
.modal-window {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.036);
  backdrop-filter: blur(8px);
  align-items: center;
  justify-content: center;
  z-index: 999;

  &__content {
    position: relative;
    background: rgba(255, 255, 255, 0.8);
    color: #000;
    padding: 20px;
    border: 1px solid #888;
    max-width: 800px;
    width: 800px;
    text-align: center;
  }

  &__close {
    position: absolute;
    right: 20px;
    top: 8px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    color: black;
  }

  &_active {
    display: flex;
  }
}

.tabs {
  display: none;

  &__inner {
    display: flex;
    flex-wrap: wrap;
    gap: 36px 125px;

    margin-top: 47px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    width: 40%;
  }

  &__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }

  &__text {
    margin-top: 8px;

    line-height: 16px;
  }

  &__coast {
    white-space: nowrap;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #00bf78;
  }

  &_active {
    display: block;
  }
}

@import "./medias.scss";
